body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-block {
    width: 100%;
    height: 100px;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    width: 150px;
    background-color: yellow;
    height: 60px;
    cursor: pointer;
}

.red{
    background-color: red;
}